 

Considering the Iris flowers data with response variable as Class.

Import the data dataset from https://archive.ics.uci.edu/ml/machine-learning-databases/iris/ (Links to an external site.) (1 points).
Identify the presence of missing values, write the code to fill the missing values with mean for numerical attributes and mode value for categorical attributes. (1 points)
Extract X as all columns except the Class column and Y as Class column. (1 points)
Split the data into training set and testing set. (1 points)
Model the classifier using GaussianNB, BernoulliNB and MultinomialNB (3 points)
Compute the accuracy and confusion matrix for each models. (3 points)
Plot the decision boundary, visualize training and test results of all the models (3 points)